<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>ホーム</title>
</head>

<body>
	<!-- th:fragmentが付いているタグ内のHTMLが先程のテンプレート用のHTML内に追加される -->
	<div th:fragment="home_contents">
		<div class="page-header">
			<h1>勤怠</h1>
			</div>
			<form method="post" th:action="@{/home}">
				<table class="table table-bordered table-hover table-striped">
			        <tr>
			            <th class="info col-sm-2">氏名</th>
			            <th class="info col-sm-2">勤怠情報</th>
			            <th class="info col-sm-2">出勤時間</th>
			            <th class="info col-sm-2">退勤時間</th>
			        </tr>
	 		        <tr th:each="user : ${userHome}"> 
	 		        	<td th:text="${user.userName}"></td> 
			            <td th:text="${user.punch} ? '出勤' : '退勤'"></td>
			            <td th:text="${#dates.format(user.startTime, 'HH:mm')}"></td> 
			            <td th:text="${#dates.format(user.endTime, 'HH:mm')}"></td>	        
			        </tr> 
			    </table>
			
		    <button class="btn btn-primary" type="submit" th:unless="${userHome.punch}" name="workStart">出勤</button>
		    <button class="btn btn-primary" type="submit" th:if="${userHome.punch}" name="workEnd">退勤</button>
		    <label class="text-info" th:text="${work}">結果表示</label>
			</form>
	</div>

</body>
</html>